span.category {
  display: block;
}
time.publish-date {
  display: block;
}
div.author {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}