* {
  box-sizing: border-box;
}
body {
  font-family: "Figtree", sans-serif;
  background-color: hsl(47, 88%, 63%);
  color: hsl(0, 0%, 7%);
  line-height: 150%;
  letter-spacing: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  gap: 2rem;
}
article.card {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 20px;
  box-shadow: 8px 8px 0 hsl(0, 0%, 0%, 1.0);
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 330px;
  gap: 24px;
}
figure.illustration-wrapper {
  width: 100%;
  height: 200px;
  margin: 0;
  overflow: hidden;
  border-radius: 10px;
}
img.illustration {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header.info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
span.category {
  background-color: hsl(47, 88%, 63%);
  font-size: 12px;
  font-weight: 800;
  padding: 0 12px;
  border-radius: 4px;
  /* Background doesn't extend beyond the text */
  width: fit-content;
}
time.publish-date {
  font-size: 12px;
  display: block;
}
h1.title {
  font-size: 20px;
  margin: 0;
}
h1.title:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
p.description {
  color: hsl(0, 0%, 42%);
  font-size: 14px;
  margin: 0;
}
footer.author {
  font-size: 14px;
  font-weight: 800;
  display: inline-flex;
  align-items: center;
  gap: 12px;
}
img.avatar {
  width: 32px;
  height: 32px;
}
/* Responsive design for larger screens */
@media (min-width: 550px) {
  article.card {
    width: 380px;
  }
  span.category, time.publish-date {
    font-size: 14px;
  }
  h1.title {
    font-size: 24px;
    margin: 4px 0;
  }
  p.description{
    font-size: 16px;
    margin: 4px 0;
  }
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}